@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:ital,wght@1,100&display=swap');



.header0 {
  display: flex;
    justify-content: center;
    align-items: center;
  background-color: #C8032B;
  height: 125px;
  width: 30vw;
  margin:auto;
}

.insideH {
  font-family:'Lora';
  font-size:75px;
  color: white;
}

.header {
  height: 100px;
  width: 100vw;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headertext {
  font-family:'Lora';
  font-size:30px;
  color: black;
}

.header1{
  font-family:'Lora';
  font-size:20px;
  color: black;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1{
  font-family:'Lora';
  font-size:14px;
  color: black;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  align-self: center;

  font-size: 40px;
  width: 70vw;
  margin:auto;
}

.graph{
  background-color:#eceeee;
  width:100vw;
}

.separate2{
  height:50px;
}


.button{
  background-color: #C8032B; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lora";
  border-radius:8px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:active{
  background-color: #405362;
}



.buttonDiv{
  text-align:center;
}

.separate{
  height:100px;
}
